
@{
    ViewBag.Title = "AdminPage";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
    var tk = Session["username"];
    if (tk == null)
    {
        Response.Redirect("~/Admin/Login/Login");
    }
}

@section Profile
    {
    <div class="profile clearfix">
        <div class="profile_pic">
            <img src="~/Areas/Admin/Content/Photo/Anh3x4.jpg" alt="..." class="img-circle profile_img">
        </div>
        <div class="profile_info">
            <span>Xin chào,</span>
            <h2>@tk</h2>
        </div>
    </div>
    }

@section ProfileSetting
{
    @tk
    }

