@{
    ViewBag.Title = "Login";
    Layout = null;
}
@model WebBanSach.Areas.Admin.Models.DTO.TaiKhoanDTO
<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hệ thống quản lí sách điện tử LDBook</title>

    <!-- CSS -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
    <link rel="stylesheet" href="~/Areas/Admin/Content/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Areas/Admin/Content/assets/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/Areas/Admin/Content/assets/css/form-elements.css">
    <link rel="stylesheet" href="~/Areas/Admin/Content/assets/css/style.css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <link href="~/Areas/Admin/Content/bootstrap.min.css" rel="stylesheet" />
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!-- Favicon and touch icons -->
    <link rel="shortcut icon" href="~/Areas/Admin/Content/assets/ico/favicon.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/Areas/Admin/Content/assets/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/Areas/Admin/Content/assets/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/Areas/Admin/Content/assets/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="~/Areas/Admin/Content/assets/ico/apple-touch-icon-57-precomposed.png">

</head>

<body>

    <!-- Top content -->
    <div class="top-content">

        <div class="inner-bg">
            <div class="container">

                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2 text">
                        <h1><strong>LDBOOK - Reading is fun and easy</strong> </h1>
                        <div class="description">
                            <p>
                                Đăng nhập để thực hiện quản lí thông tin và dữ liệu của hệ thống LDBook!
                            </p>
                        </div>
                    </div>
                </div>
                <style>
                    .col-centered {
                        float: none;
                        margin: 0 auto;
                    }
                </style>
                <div class="row">
                    <div class="col-sm-5 col-centered">

                        <div class="form-box">
                            <div class="form-top">
                                <div class="form-top-left">
                                    <h3>Đăng nhập vào trang</h3>
                                    <p>Nhập tên đăng nhập và mật khẩu:</p>
                                </div>
                                <div class="form-top-right">
                                    <i class="fa fa-lock"></i>
                                </div>
                            </div>
                            <div class="form-bottom">
                                @using (Html.BeginForm())
                                {
                                    @Html.AntiForgeryToken()
                                    @Html.ValidationSummary(true, null, new { @class = "alert alert-danger" })
                                    <div class="form-group">
                                        <label class="sr-only" for="form-username">Tên đăng nhập</label>
                                        @Html.TextBoxFor(tk => tk.TenDangNhap, new { @type = "text", @name = "form-username", @placeholder = "Tên đăng nhập...", @class = "form-username form-control", @id = "form-username" })
                                    </div>
                                    <div class="form-group">
                                        <label class="sr-only" for="form-password">Mật khẩu</label>
                                        @Html.TextBoxFor(tk => tk.MatKhau, new { @type = "password", @name = "form-password", @placeholder = "Mật khẩu...", @class = "form-password form-control", @id = "form-password" })
                                        <input type="checkbox" onclick="myFunction()">Hiển thị mật khẩu
                                        <script>
                                            function myFunction() {
                                                var x = document.getElementById("form-password");
                                                if (x.type === "password") {
                                                    x.type = "text";
                                                } else {
                                                    x.type = "password";
                                                }
                                            }
                                        </script>
                                    </div>
                                    <button type="submit" class="btn">Đăng nhập!</button>
                                }
                            </div>
                        </div>



                    </div>

                </div>

            </div>
        </div>

    </div>

    <!-- Footer -->
    <footer>
        <div class="container">
            <div class="row">

                <div class="col-sm-8 col-sm-offset-2">
                    <div class="footer-border"></div>
                    <p>
                        Made by Lê Trung Đạt <i class="fa fa-smile-o"></i>
                    </p>
                </div>

            </div>
        </div>
    </footer>

    <!-- Javascript -->
    <script src="~/Areas/Admin/Content/assets/js/jquery-1.11.1.min.js"></script>
    <script src="~/Areas/Admin/Content/assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/Areas/Admin/Content/assets/js/jquery.backstretch.min.js"></script>
    <script src="~/Areas/Admin/Content/assets/js/scripts.js"></script>

    <!--[if lt IE 10]>
        <script src="~/Areas/Admin/Content/assets/js/placeholder.js"></script>
    <![endif]-->



    <div class="backstretch" style="left: 0px; top: 0px; overflow: hidden; margin: 0px; padding: 0px; height: 754px; width: 1519px; z-index: -999999; position: fixed;"><img src="~/Areas/Admin/Content/assets/img/backgrounds/1.jpg" style="position: absolute; margin: 0px; padding: 0px; border: none; width: 1519px; height: 1012.67px; max-height: none; max-width: none; z-index: -999999; left: 0px; top: -129.333px;"></div>
</body>
</html>



