@using WebBanSach.Models;
@model IEnumerable<TacGia>

<head>

    <style>
        .TGmenu {
            margin-left: 0%;
            cursor: pointer;
            text-decoration:none;
        }
        .menuten {
            margin-left: 49%;
            background: #ffffff;
            font-weight: 500;
            color: #294c6f;
            border-radius: 30px;
            padding-top: 20px;
        }
        .nametg:hover{
            color:crimson;


        }
        li.nametg {
            padding: 10px 10px;
        }
    </style>
</head>
<body>
    <div class="TGmenu">
        <ul>
            <li><a style="padding-right:20px;">Tác Giả</a>
                <ul class="menuten">
                    @foreach (var item in Model)
                    {
                        <li class="nametg"><a href="@Url.Action("CTTacGia",new { @Matg=item.MaTG})">@item.TenTG</a></li>
                    }

                </ul>
            </li>
        </ul>

    </div>
</body>

